/* font imports */

/*Roboto*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*global reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* this will make it so that 1 rem = 10 px hence 1.6rem = 16px(easier calculations) */
  /* font-size: 62.5%; */
  /* feel free to change this */
  font-family: "Roboto", sans-serif;
}

body {
  /* this will eliminate weird padding/margin issues */
  box-sizing: border-box;
}
